<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Shop list || James </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{<C('URL.main')>}/public/home/img/favicon.ico">

    <!-- Google Fonts
    ============================================ -->
    <link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/css/bootstrap.min.css">
    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/css/font-awesome.min.css">
    <!-- owl.carousel CSS
    ============================================ -->
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/css/owl.carousel.css">
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/css/owl.theme.css">
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/css/owl.transitions.css">
    <!-- jquery-ui CSS
    ============================================ -->
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/css/jquery-ui.css">
    <!-- meanmenu CSS
    ============================================ -->
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/css/meanmenu.min.css">
    <!-- nivoslider CSS
    ============================================ -->
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/lib/css/nivo-slider.css">
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/lib/css/preview.css">
    <!-- animate CSS
    ============================================ -->
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/css/animate.css">
    <!-- magic CSS
    ============================================ -->
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/css/magic.css">
    <!-- normalize CSS
    ============================================ -->
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/css/normalize.css">
    <!-- main CSS
    ============================================ -->
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/css/main.css">
    <!-- style CSS
    ============================================ -->
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/style.css">
    <!-- responsive CSS
    ============================================ -->
    <link rel="stylesheet" href="{<C('URL.main')>}/public/home/css/responsive.css">
    <!-- modernizr JS
    ============================================ -->
    <script src="{<C('URL.main')>}/public/home/js/vendor/modernizr-2.8.3.min.js"></script>
</head>