<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<!-- header area start -->
<header>
    <div class="top-link">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-9 hidden-xs">
                    {<if isset($smarty.session.home)>}
                    <div class="site-option">
                        <ul>
                            <li style="padding: 0 10px;"> <p>欢迎你: <span> {<$smarty.session.home.acc>}</span></p> </li>
                        </ul>
                    </div>
                    {</if>}
                    <div class="call-support">
                        <p>Call support free: <span> (800) 123 456 789</span></p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3">
                    <div class="dashboard">
                        <div class="account-menu">
                            <ul>
                                <li class="search">
                                    <a href="#">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <ul class="search">
                                        <li>
                                            <form action="#">
                                                <input type="text">
                                                <button type="submit"> <i class="fa fa-search"></i> </button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                    <ul>
                                        <li><a href="{<C('URL.main')>}/index.php?p=home&m=account&a=show">my account</a></li>
                                        <li><a href="wishlist.html">my wishlist</a></li>
                                        <li><a href="{<C('URL.main')>}/index.php?p=home&m=cart&a=showCart">my cart</a></li>
                                        <li><a href="{<C('URL.main')>}/index.php?p=home&m=checkout&a=checkout">Checkout</a></li>
                                        <li><a href="{<C('URL.main')>}/index.php?p=home&m=show&a=blog">Blog</a></li>
                                        {<if isset($smarty.session.home)>}
                                        <li><a href="{<C('URL.main')>}/index.php?p=home&m=login&a=logout">Log out</a></li>
                                        {<else>}
                                            <li><a href="{<C('URL.main')>}/index.php?p=home&m=login&a=login">Log in</a></li>
                                        {</if>}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="cart-menu">
                            <ul>
                                <li><a href="{<C('URL.main')>}/index.php?p=home&m=cart&a=showCart"> <img src="{<C('URL.main')>}/public/home/img/icon-cart.png" alt=""> <span>{<count($cart_datas)>}</span> </a>
                                    <div class="cart-info">
                                        <ul>
                                            {<foreach from=$cart_datas item="data">}
                                            <li>
                                                <div >
                                                    <img src="{<C('URL.main')>}/public/admin/img/{<$data.img>}" alt="" width="60" height="60" style="width: 50%;height: auto;max-width: 50%;display: block;">
                                                </div>
                                                <div class="cart-details">
                                                    <a href="{<C('URL.main')>}/index.php?p=home&m=products&a=showIntro&id={<$data.id>}">{<$data.name>}</a>
                                                    <p>{<$data.qtybutton>} x ￥{<$data.price>}</p>
                                                </div>
                                            </li>
                                            {</foreach>}
                                        </ul>
                                        <h3>Subtotal: <span> ￥{<$totalPrice>}</span></h3>
                                        <a href="{<C('URL.main')>}/index.php?p=home&m=checkout&a=checkout" class="checkout">checkout</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mainmenu-area home2 product-items">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{<C('URL.main')>}/public/home/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="mainmenu">
                        <nav>
                            <ul>
                                <li><a href="{<C('URL.main')>}/index.php?p=home&m=index&a=index">首页</a>
                                </li>
                                <li><a href="{<C('URL.main')>}/index.php?p=home&m=products&a=showList">全部商品</a>
                                </li>
                                {<foreach from=$cats[0] item="cats_val">}
                                <li class="mega-women"><a href="{<C('URL.main')>}/index.php?p=home&m=products&a=showList&c_id={<$cats_val.id>}">{<$cats_val.name>}</a>
                                    <div class="mega-menu men">
                                        <div class="part-1">
                                            {<foreach from=$cats[$cats_val.id] item="cat_val">}
                                            <span>
                                                <a href="{<C('URL.main')>}/index.php?p=home&m=products&a=showList&c_id={<$cat_val.id>}">{<$cat_val.name>}</a>
                                                {<if isset($cats[$cat_val.id])>}
                                                {<foreach from=$cats[$cat_val.id] item="item_val">}
                                                <a href="{<C('URL.main')>}/index.php?p=home&m=products&a=showList&c_id={<$item_val.id>}">{<$item_val.name>}</a>
                                                {</foreach>}
                                                {</if>}
                                            </span>
                                            {</foreach>}
                                        </div>
                                        {<if $cats_val.id == 1>}
                                        <div class="part-2">
                                            <a href="{<C('URL.main')>}/index.php?p=home&m=products&a=showList">
                                                <img src="{<C('URL.main')>}/public/home/img/banner/menu-banner.png" alt="">
                                            </a>
                                        </div>
                                        {</if>}
                                    </div>
                                </li>
                                {</foreach>}
                                <li><a href="#">客服服务</a>
                                    <div class="sub-menu pages">
                                            <span>
                                                <a href="{<C('URL.main')>}/index.php?p=home&m=show&a=about">关于我们</a>
                                            </span>
                                            <span>
                                                <a href="{<C('URL.main')>}/index.php?p=home&m=show&a=blog">博客</a>
                                            </span>
                                            <span>
                                                <a href="{<C('URL.main')>}/index.php?p=home&m=show&a=contact">联系我们</a>
                                            </span>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
               
</header>
<!-- header area end -->