<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="renderer" content="webkit">
  <title>后台管理中心</title>
  <link rel="stylesheet" href="{<C('URL.main')>}/public/admin/css/pintuer.css">
  <link rel="stylesheet" href="{<C('URL.main')>}/public/admin/csS/admin.css">
  <script src="{<C('URL.main')>}/public/admin/js/jquery.js"></script>

  <!-- favicon============================================ -->
  <link rel="shortcut icon" type="image/x-icon" href="{<C('URL.main')>}/public/admin/favicon.ico">
</head>
<body style="background-color:#f2f9fd;">
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img src="{<if $smarty.session.admin.img != ''>}{<C('URL.main')>}/public/admin/img/{<$smarty.session.admin.img>}{<else>}{<C('URL.main')>}/public/admin/images/y.jpg{</if>}" class="radius-circle rotate-hover" height="50" alt="" />后台管理中心&nbsp;&nbsp;&nbsp;&nbsp;欢迎你，亲爱的 <span style="color: red;">{<$smarty.session.admin.nickname>}</span></h1>
  </div>
  <div class="head-l"><a class="button bg-green" href="{<C('URL.main')>}/index.php?p=home&m=index&a=index" target="_blank"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;&nbsp;&nbsp;<a class="button bg-red" href="{<C('URL.main')>}/index.php/?p=admin&m=Privilege&a=output"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>

<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>

  <h2><span class="icon-cubes"></span>商品管理</h2>
  <ul style="display:block">
    <li><a href="{<C('URL.main')>}/index.php?p=admin&m=product&a=showList" target="right"><span class="icon-caret-right"></span>商品列表</a></li>
    <li><a href="{<C('URL.main')>}/index.php?p=admin&m=product&a=showAdd" target="right"><span class="icon-caret-right"></span>新增商品</a></li>
  </ul>

  <h2><span class="icon-users"></span>用户管理</h2>
  <ul style="display:block">
    <li><a href="{<C('URL.main')>}/index.php?p=admin&m=user&a=showList" target="right"><span class="icon-caret-right"></span>用户管理</a></li>
    <li><a href="{<C('URL.main')>}/index.php?p=admin&m=user&a=showAdd" target="right"><span class="icon-caret-right"></span>添加用户</a></li>
  </ul>
  <h2><span class="icon-bars"></span>分类管理</h2>
  <ul style="display:block">
    <li><a href="{<C('URL.main')>}/index.php?p=admin&m=category&a=showList" target="right"><span class="icon-caret-right"></span>分类列表</a></li>
  </ul>
  <h2><span class="icon-credit-card"></span>订单管理</h2>
  <ul style="display:block">
    <li><a href="{<C('URL.main')>}/index.php?p=admin&m=order&a=showList" target="right"><span class="icon-caret-right"></span>订单列表</a></li>
  </ul>

  <h2><span></span></h2>

</div>
<script type="text/javascript">
$(function(){
  // $(".leftnav h2").click(function(){
	//   $(this).next().slideToggle(200);
	//   $(this).toggleClass("on");
  // })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
});
</script>

<div class="admin">
  <iframe scrolling="auto" rameborder="0" src="{<C('URL.main')>}/index.php?p=admin&m=product&a=showList" name="right" width="100%" height="100%"></iframe>
</div>
<div style="text-align:center;">
</div>
</body>
</html>