{<include file="common/header.html">}
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 分类列表</strong></div>
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">序号</th>
      <th width="5%">#ID</th>
      <th width="15%">分类名</th>
      <th width="10%">操作</th>
    </tr>

    {<foreach from=$categorys item='cat' name='f1'>}
    <tr>
      <td>{<$smarty.foreach.f1.index+1>} </td>
      <td>{<$cat.id>}</td>
      <td align="left">{<'&nbsp;'|str_repeat:20>} {<if $cat.dir_tree>=1>}{<'&nbsp;&nbsp;&nbsp;&nbsp;'|str_repeat:($cat.dir_tree-1)>}├ {</if>} {<$cat.name>}</td>
      <td>
        <div class="button-group"> 
          <a class="button border-yellow" href="{<C('URL.main')>}/index.php?p=admin&m=category&a=showAd&id={<$cat.id>}&name={<$cat.name>}"><span class="icon-plus-square"></span> 添加子分类</a>
          <a class="button border-main" href="{<C('URL.main')>}/index.php?p=admin&m=category&a=edit&id={<$cat.id>}"><span class="icon-edit"></span> 修改</a> 
          <a class="button border-red" href="{<C('URL.main')>}/index.php?p=admin&m=category&a=drop&id={<$cat.id>}" onclick="return confirm('确定删除？')"><span class="icon-trash-o"></span> 删除</a> 
        </div>
      </td>
    </tr>
  {</foreach>}
    <ul class="mystyle">
       <!-- {<$pageHtml>}    -->
    </ul>
</table>


  </table>
</div>
</div>
</body>
</html>