<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="{<C('URL.main')>}/public/admin/css/pintuer.css">
    <link rel="stylesheet" href="{<C('URL.main')>}/public/admin/css/admin.css">
    <script src="{<C('URL.main')>}/public/admin/js/jquery.js"></script>
    <script src="{<C('URL.main')>}/public/admin/js/pintuer.js"></script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="{<C('URL.main')>}/public/admin/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="{<C('URL.main')>}/public/admin/ueditor/ueditor.all.js"></script>
</head>