<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="{<C('URL.main')>}/public/admin/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="{<C('URL.main')>}/public/admin/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="{<C('URL.main')>}/public/admin/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="{<C('URL.main')>}/public/admin/assets/css/admin.css">
    <script src="{<C('URL.main')>}/public/admin/assets/js/jquery.min.js"></script>
    <script src="{<C('URL.main')>}/public/admin/assets/js/app.js"></script>
</head>
<!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p><![endif]-->

</head>