{<include file="common/header.html">}
    <body>
    {<include file="common/top.html">}
        <!-- header area end -->
        <!-- cart item area start -->
        <div class="shopping-cart">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="location">
                            <ul>
                                <li><a href="{<C('URL.main')>}/index.php?p=home&m=index&a=index" title="go to homepage" title="go to homepage">首页<span>/</span></a>  </li>
                                <li><strong> Shopping cart</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table-bordered table table-hover">
                                <thead>
                                    <tr>
                                        <th class="cart-item-img" width="15%">商品图片</th>
                                        <th class="cart-product-name" width="30%">商品名称</th>
                                        <th class="unit-price" width="15%">单价</th>
                                        <th class="quantity" width="10%">数量</th>
                                        <th class="subtotal" width="15%">小计</th>
                                        <th class="remove-icon" width="10%">删除</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    {<foreach from=$cart_datas item='data'>}
                                    <tr>
                                        <td class="cart-item-img">
                                            <a href="{<C('URL.main')>}/index.php?p=home&m=products&a=showIntro&id={<$data.id>}">
                                                <img src="{<C('URL.main')>}/public/admin/img/{<$data.img>}" alt="" width="100" height="60" style="width: 50%;height: auto;max-width: 50%;display: block;">
                                            </a>
                                        </td>
                                        <td class="cart-product-name">
                                            <a href="{<C('URL.main')>}/index.php?p=home&m=products&a=showIntro&id={<$data.id>}">{<$data.name>}</a>
                                        </td>
                                        <td class="unit-price">
                                            <span>￥{<$data.price>}</span>
                                        </td>
                                        <td class="quantity">
                                            <span>{<$data.qtybutton>}</span>
                                        </td>
                                        <td class="subtotal">
                                            <span>￥{<$data.price*$data.qtybutton>}</span>
                                        </td>
                                        <td class="remove-icon">
                                            <a href="{<C('URL.main')>}/index.php?p=home&m=cart&a=del_h&id={<$data.id>}">
                                                <img src="{<C('URL.main')>}/public/home/img/cart/btn_remove.png" alt="">
                                            </a>
                                        </td>
                                    </tr>
                                    {</foreach>}
                                </tbody>
                            </table>
                            <div class="shopping-button">
                                <div class="continue-shopping">
                                    <button type="submit">continue shopping</button>
                                </div>
                                <div class="shopping-cart-left">
                                    <button type="submit">Clear Shopping Cart</button>
                                    <button type="submit">Update Shopping Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="discount-code">
                            <h3>Discount Codes</h3>
                            <p>Enter your coupon code if you have one.</p>
                            <input type="text">
                            <div class="shopping-button">
                                <button type="submit">apply coupon</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="estimate-shipping">
                            <h3>Estimate Shipping and Tax</h3>
                            <p>Enter your destination to get a shipping estimate.</p>
                            <form action="#">
                                <div class="form-box">
                                    <div class="form-name">
                                        <label> country <em>*</em> </label>
                                        <select>
                                            <option value="1">Afghanistan</option>
                                            <option value="1">Algeria</option>
                                            <option value="1">American Samoa</option>
                                            <option value="1">Australia</option>
                                            <option value="1">Bangladesh</option>
                                            <option value="1">Belgium</option>
                                            <option value="1">Bosnia and Herzegovina</option>
                                            <option value="1">Chile</option>
                                            <option value="1">China</option>
                                            <option value="1">Egypt</option>
                                            <option value="1">Finland</option>
                                            <option value="1">France</option>
                                            <option value="1">United State</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-box">
                                    <div class="form-name">
                                        <label> State/Province </label>
                                        <select>
                                            <option value="1">Please select region, state or province</option>
                                            <option value="1">Arizona</option>
                                            <option value="1">Armed Forces Africa</option>
                                            <option value="1">California</option>
                                            <option value="1">Florida</option>
                                            <option value="1">Indiana</option>
                                            <option value="1">Marshall Islands</option>
                                            <option value="1">Minnesota</option>
                                            <option value="1">New Mexico</option>
                                            <option value="1">Utah</option>
                                            <option value="1">Virgin Islands</option>
                                            <option value="1">West Virginia</option>
                                            <option value="1">Wyoming</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-box">
                                    <div class="form-name">
                                        <label> Zip/Postal Code </label>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="shopping-button">
                                    <button type="submit">get a quote</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="totals">
                            <p>subtotal <span>￥{<$totalPrice>}</span> </p>
                            <h3>Grand Total <span>￥{<$totalPrice>}</span></h3>
                            <div class="shopping-button">
                                <a href="{<C('URL.main')>}/index.php?p=home&m=checkout&a=checkout"><button type="submit">proceed to checkout</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart item area end -->
        {<include file="common/footer.html">}