{<include file="common/header.html">}
    <body>
    {<include file="common/top.html">}
        <!-- product items banner start -->
        <div class="product-banner">
            <img src="img/product/banner.jpg" alt="">
        </div>
        <!-- product items banner end -->
        <!-- product main items area start -->
        <div class="product-main-items">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="location">
                            <ul>
                                <li><a href="{<C('URL.main')>}/index.php?p=home&m=index&a=index" title="go to homepage">首页<span>/</span></a>  </li>
                                <li><strong> shop list</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="product-sidebar">
                            <div class="sidebar-title">
                                <h2>购物选择</h2>
                            </div>
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>商品分类</h3>
                                </div>
                                <div class="single-sidebar-content">
                                    <ul>
                                        <li><a href="{<C('URL.main')>}/index.php?p=home&m=products&a=showList" {<if $c_id==0>}style="color: red;"{</if>}>全部商品</a></li>
                                        {<foreach from=$c_data item="c_item">}
                                        <li><a href="{<C('URL.main')>}/index.php?p=home&m=products&a=showList&c_id={<$c_item.id>}" {<if $c_id==$c_item.id>}style="color: red;"{</if>}>&nbsp;&nbsp;{<if $c_item.dir_tree>=1>}{<'&nbsp;&nbsp;&nbsp;&nbsp;'|str_repeat:($c_item.dir_tree-1)>}&nbsp;&nbsp;&nbsp;&nbsp;├ {</if>} {<$c_item.name>}</a></li>
                                        {</foreach>}
                                    </ul>
                                </div>
                            </div>

                            <div class="banner-left">
                                <a href="#">
                                    <img src="{<C('URL.main')>}/public/home/img/product/banner_left.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="product-bar">
                            <span>{<$c_name>}</span>
                        </div>

                        <!--商品列表-->
                        <div class="row">
                            <div class="product-content">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active in fade home2" id="list">
                                        <div class="product-catagory">
                                            {<foreach from=$datas item="p_item">}
                                            <div class="single-list-product">
                                                <div class="col-sm-4">
                                                    <div class="list-product-img">
                                                        <a href="{<C('URL.main')>}/index.php?p=home&m=products&a=showIntro&id={<$p_item.id>}">
                                                            <img src="{<C('URL.main')>}/public/admin/img/{<$p_item.img>}" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="list-product-info">
                                                        <a href="{<C('URL.main')>}/index.php?p=home&m=products&a=showIntro&id={<$p_item.id>}" class="list-product-name"> {<$p_item.name>}</a>
                                                        <div class="price-rating">
                                                            <span class="old-price">￥{<$p_item.ori_price>}</span>
                                                            <span>￥{<$p_item.price>}</span>
                                                            <div class="ratings">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-half-o"></i>
                                                                <a href="#" class="review">1 Review(s)</a>
                                                                <a href="#" class="add-review">Add Your Review</a>
                                                            </div>
                                                        </div>
                                                        <div class="list-product-details">
                                                            <p>{<$p_item.intro>}
                                                                <a href="{<C('URL.main')>}/index.php?p=home&m=products&a=showIntro&id={<$p_item.id>}">Learn More</a> </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {</foreach>}
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!--分页-->
                            <div class="col-md-12">
                                <div class="toolbar-bottom">
                                    <ul>
                                        <li><span>Pages:</span></li>
                                        {<$pageHtml>}
                                    </ul>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- product main items area end -->
        {<include file="common/footer.html">}